apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: k8s-app
spec:
  replicas: 3
  selector:
    matchLabels:
      name: app
  template:
    metadata:
      labels:
        name: app
    spec:
      containers:
        - name: app
          image: 127214192562.dkr.ecr.us-west-2.amazonaws.com/bensrepo:IMAGE_TAG_PLACEHOLDER
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: k8s-app
spec:
  selector:
    name: app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 80

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app
  namespace: k8s-app
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: 
      http:
        paths:
          - path: /seconds
            pathType: Prefix
            backend:
              service:
                name: app
                port:
                  number: 8080
